#-------------------------------
#   Created by OS
#-------------------------------
# Windows
Thumbs.db
# Mac
.DS_Store

#-------------------------------
#   Created by Editor
#-------------------------------

#-------------------------------
#   Created by Composer
#-------------------------------
vendor/

#-------------------------------
#   Created by npm
#-------------------------------
node_modules/

#-------------------------------
#   Created by webpack
#-------------------------------
dist/

#-------------------------------
#   Created by Linter
#-------------------------------
.eslintcache
.stylelintcache