{
	"plugins": [
		"stylelint-scss"
	],
	"extends": [
		"stylelint-scss",
		"stylelint-config-recommended-scss",
		"stylelint-config-recommended",
		"stylelint-config-wordpress/scss"
	],
	"ignoreFiles": [
		"node_modules/**/*.css",
		"node_modules/**/*.scss",
		"vendor/**/*.css",
		"vendor/**/*.scss",
		"dist/**/*.css"
	],
	"rules": {
		"no-descending-specificity": null
	}
}