includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    excludePaths:
        - ./vendor/
        - ./node_modules/
    ignoreErrors:
    level: 0
    paths:
        - ./send-chat-tools.php
        - class/
    scanDirectories:
        - class/
        - tests/
    scanFiles:
        - vendor/yoast/wp-test-utils/src/WPIntegration/bootstrap-functions.php
        - vendor/yoast/wp-test-utils/src/WPIntegration/TestCase.php
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/wordpress-tests-stubs/wordpress-tests-stubs.php