includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    excludePaths:
        - ./vendor/
        - ./node_modules/
    ignoreErrors:
        - "#Undefined variable: \\$wpdb#"
    level: 0
    paths:
        - ./send-chat-tools.php
        - class/