<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Plugin Tests">
            <directory suffix="-test.php">tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./class</directory>
        </include>
        <report>
            <clover outputFile="coverage/reports/clover.xml" />
        </report>
    </coverage>
</phpunit>