.accordion-title {
	background-color: $sub_color;
	border: 1px solid transparent;
	color: #fff;
	margin-bottom: 0;
	padding: 1em 0.5em;
	position: relative;
	cursor: pointer;
	user-select: none;

	&::before,
	&::after {
		content: "";
		display: block;
		background-color: #fff;
		position: absolute;
		top: 50%;
		width: 15px;
		height: 2px;
		right: 25px;
	}

	&::after {
		transform: rotate(90deg);
		transition-duration: 0.3s;
	}

	&:hover,
	&:active,
	&.is-active {
		background-color: $main_color;
	}

	&.is-active::before {
		opacity: 0;
	}

	&.is-active::after {
		transform: rotate(0);
	}
}

.accordion-content {
	height: 0;
	overflow: hidden;
	opacity: 0;

	&.is-open {
		height: auto;
		opacity: 1;
	}

	&--log {
		max-height: 300px;
		overflow-y: scroll;
	}
}
