.sct-item-wrapper {
	margin-top: 30px;
}

.components-snackbar {
	animation-duration: 4s;
	animation-iteration-count: 5;
	animation-name: fade;
	position: fixed;
	right: 30px;
	top: 50px;
}

.sct {

	&_success {
		background-color: #00a32a;
	}

	&_error {
		background-color: #d63638;
	}
}
