.sct-item-wrapper {
	margin-top: 30px;
}

.components {

	&-base-control {
		width: 80%;
	}

	&-snackbar {
		animation-duration: 4s;
		animation-iteration-count: 5;
		animation-name: fade;
		position: fixed;
		right: 30px;
		top: 50px;
	}

	&-tab-panel__tabs {

		&-item:focus:not(:disabled) {
			box-shadow: initial;
		}
	}
}

.active-tab {
	border-bottom: 2px solid #007cba;
}

.sct {

	&_success {
		background-color: #00a32a;
	}

	&_error {
		background-color: #d63638;
	}

	&-wrapper {
		margin-top: 30px;
	}

	&-items {
		margin-top: 40px;
	}

	&-tools-log {
		margin-top: 15px;
		width: 80%;

		&-footer {
			align-items: unset !important;
			flex-direction: column !important;

			&-status,
			&-date {
				margin-left: 0 !important;
			}
		}

	}

	&-logs {
		width: 80%;

		&-table {
			font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;

			> tr {

				> th {
					padding: 2px 17px 5px;
				}

				> td {
					padding: 2px 20px;
					text-align: center;

					> .res {

						&-success {
							color: #2fb51d;
							font-weight: 900;
						}

						&-error {
							color: #de1d1d;
							font-weight: 900;
						}
					}
				}
			}
		}
	}
}

@keyframes fade {

	0% {
		opacity: 0;
	}

	25% {
		opacity: 0.7;
	}

	75% {
		opacity: 0.7;
	}

	100% {
		opacity: 0;
	}
}
