@import 'lib/const';
@import 'component/accordion';

h1 {
	padding-bottom: 20px!important;
}

.postbox {
	padding-left: 10px;
	padding-right: 10px;
}

@media screen and (min-width: 783px) {
	.form-table th {
		padding-left: 25px;
		min-width: 250px;
	}
	.form-table p {
		padding-left: 10px;
	}
}